@model IEnumerable<MovieTicketBookingOnlineWebsite1.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-warning" asp-action="Add">Add Category</a>

<table class="table">
    <thead style="background-color:gray;color: #fff;
           padding: 20px;
           text-align: center;">
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="background-image: linear-gradient(to right, #8360c3, #2ebf91);color: #fff;font-family: Arial, sans-serif;text-align: center;
    margin: 0;
    padding: 0;">
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Id</td>

                <td>
                    <a class="btn btn-primary" asp-action="Display" asp-route-id="@category.Id">View</a> |
                    <a class="btn btn-success" asp-action="Update" asp-route-id="@category.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>